

  <appSettings>
    <add key="TwitterBotUsername" value="HelloApp" />
    <add key="TwitterBotPassword" value="" />
    <add key="TwitterHashTag" value="helloapp" />
    <add key="DefaultImageURL" value="http://s.twimg.com/images/default_profile_bigger.png" />
    <add key="BronzeThreshold" value="20" />
    <add key="SilverThreshold" value="100" />
    <add key="GoldThreshold" value="300" />
    <add key="DiamondThreshold" value="1000" />
    <add key="SmileyThreshold" value="10" />
    <add key="MaxSearchResults" value="100" />
    <add key="PointsForMet" value="10" />
    <add key="PointsForSat" value="5" />
    <add key="PointsForHiFive" value="20" />
    <add key="MaxMessages" value="10" />
    <add key="MaxTags" value="12" />
    <add key="AdminMaxTideMarks" value="20" />
  </appSettings>


