



  <connectionStrings>

    <add name="ConnectionString"

          connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=hello;User Id=hello_web;Password=password;"

          providerName="System.Data.SqlClient" />

    <add name="Elmah"

          connectionString="Data Source=.\SQL2008;Initial Catalog=elmah;User Id=hello_web;Password=blah;"

          providerName="System.Data.SqlClient" />

  </connectionStrings>

