<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)">
  <connectionStrings>

    <add name="ConnectionString"

          connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=hello;User Id=hello_bot;Password=password;"

          providerName="System.Data.SqlClient" />

  </connectionStrings>
</SettingsFile>
